<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='register.css')}}">
</head>
<body>
    <form method="post">
    <center><label>Register for ATM</label><br>
    <input type="text" name="username" placeholder="Enter yout name"><br>
    <input tye="password" name="password" placeholder="Eter password"><br>
    <input type="type" name="pin_no" placeholder="Enter pinno"><br>
    <button>submit</button> 
    </center>
    </form>
</body>
</html>